body {
    background: #f8ece3;
}

h1 {
font-family: "AuthenticSans-90", sans-serif;
font-weight: 500;
font-style: normal;
color: rgb(0, 135, 90);
font-size: 24px;
padding-top: 50px;
}

.container {
    margin: auto;
}

@media screen and (min-width: 480px) {
.mobile { display: none; }
.desktop { display: block; }
}

@media screen and (max-width: 481px) {
.mobile { display: block; overflow-x:hidden;}
.desktop { display: none; }
}

@font-face {
  font-family: "AUTHENTICSans-90";
  src: url("AuthenticSans-90.woff");
}